<div class="row">
  <div class="col-md-3 col-lg-2 ml-0 pl-0 pt-0 pr-0 border-right left-menu">
    <div class="p-2">
      <h5>
        Suppliers <span class="badge badge-secondary float-right" *ngIf="suppliers.length > 0">{{suppliers.length}}</span>
      </h5>
    </div>

    <div class="list-group mb-5">
      <a class="list-group-item list-group-item-action list-group-item-primary" data-toggle="modal" href="#newSupplierModal" (click)="onCreateSupplierClick()">Create Supplier</a>
    </div>

    <div class="p-2 border-top"><h5>View</h5></div>
    <div class="px-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewSupplierName" [(ngModel)]="viewSupplierCheckBoxes.supplierName">
        <label class="form-check-label" for="viewSupplierName">
          Supplier Name
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewMobile" [(ngModel)]="viewSupplierCheckBoxes.mobile">
        <label class="form-check-label" for="viewMobile">
          Mobile
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewEmail" [(ngModel)]="viewSupplierCheckBoxes.email">
        <label class="form-check-label" for="viewEmail">
          Email
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewCreatedOn" [(ngModel)]="viewSupplierCheckBoxes.createdOn">
        <label class="form-check-label" for="viewCreatedOn">
          Created On
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="viewLastModifiedOn" [(ngModel)]="viewSupplierCheckBoxes.lastModifiedOn">
        <label class="form-check-label" for="viewLastModifiedOn">
          Last Modified On
        </label>
      </div>

      <div class="form-group my-2">
        <button class="btn btn-secondary btn-sm mr-1" (click)="onViewSelectAllClick()">Select All</button>
        <button class="btn btn-secondary btn-sm" (click)="onViewDeselectAllClick()">Deselect All</button>
      </div>
    </div>



    <div class="p-2 border-top mt-4"><h5>Sort by</h5></div>
    <div class="px-2">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="sortBy">
          <option value="supplierName">Supplier Name</option>
          <option value="supplierMobile">Mobile</option>
          <option value="email">Email</option>
          <option value="creationDateTime">Created On</option>
          <option value="lastModifiedDateTime">Last Modified On</option>
        </select>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="sortAscending" value="ASC" [(ngModel)]="sortDirection">
        <label class="form-check-label" for="sortAscending">
          Ascending
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" id="sortDescending" value="DESC" [(ngModel)]="sortDirection">
        <label class="form-check-label" for="sortDescending">
          Descending
        </label>
      </div>

      <div class="form-group my-2">
        <button class="btn btn-secondary btn-sm mr-1 px-3" (click)="onBtnSortClick()">Sort</button>
      </div>

    </div>
  </div>


  <div class="col-md-9 col-lg-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Suppliers
          <i class="fa fa-circle-o-notch  fa-spin" *ngIf="showSuppliersSpinner"></i>
        </li>
      </ol>
    </nav>

    <!--<h4>Suppliers </h4>-->
    <!--<button class="btn btn-primary" data-toggle="modal" data-target="#newSupplierModal" (click)="onCreateSupplierClick()">Create Supplier</button>-->

    <table class="table mt-2">
      <thead>
        <tr class="table-secondary">
          <th *ngIf="viewSupplierCheckBoxes.supplierName">Supplier Name</th>
          <th *ngIf="viewSupplierCheckBoxes.mobile">Mobile</th>
          <th *ngIf="viewSupplierCheckBoxes.email">Email</th>
          <th *ngIf="viewSupplierCheckBoxes.createdOn">Created on</th>
          <th *ngIf="viewSupplierCheckBoxes.lastModifiedOn">Last Modified on</th>
          <th class="text-secondary">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let supplier of suppliers; let index = index">
          <td style="font-size:120%" *ngIf="viewSupplierCheckBoxes.supplierName">{{supplier.supplierName}}</td>
          <td *ngIf="viewSupplierCheckBoxes.mobile">{{supplier.supplierMobile}}</td>
          <td *ngIf="viewSupplierCheckBoxes.email">{{supplier.email}}</td>
          <td *ngIf="viewSupplierCheckBoxes.createdOn">{{supplier.creationDateTime}}</td>
          <td *ngIf="viewSupplierCheckBoxes.lastModifiedOn">{{supplier.lastModifiedDateTime}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-secondary" data-toggle="modal" data-target="#editSupplierModal" (click)="onEditSupplierClick(index)">Edit</button>
              <button class="btn btn-danger" data-toggle="modal" data-target="#deleteSupplierModal" (click)="onDeleteSupplierClick(index)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>





<!-- New Supplier Modal -->
<form [formGroup]="newSupplierForm">
  <div class="modal fade" id="newSupplierModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Create Supplier</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group form-row">
            <label for="supplierName" class="col-form-label col-md-4">Supplier Name: *</label>
            <div class="col-md-8">
              <input type="text" placeholder="Supplier Name" class="form-control" id="supplierName" formControlName="supplierName" [ngClass]="{
                     'is-valid': newSupplierForm.get('supplierName').valid && (newSupplierForm.get('supplierName').touched || newSupplierForm.submitted),
                     'is-invalid': newSupplierForm.get('supplierName').invalid && (newSupplierForm.get('supplierName').touched || newSupplierForm.submitted) }" />

              <small class="form-text text-muted">Name of the supplier | Can't be duplicate.</small>

              <span class="text-danger" *ngIf="newSupplierForm.get('supplierName').invalid && newSupplierForm.get('supplierName').errors.required && (newSupplierForm.get('supplierName').touched || newSupplierForm.get('supplierName').dirty || newSupplierForm.submitted)">Supplier Name can't be blank</span>

              <span class="text-danger" *ngIf="newSupplierForm.get('supplierName').invalid && newSupplierForm.get('supplierName').errors.minlength && (newSupplierForm.get('supplierName').touched || newSupplierForm.get('supplierName').dirty || newSupplierForm.submitted)">Supplier Name can't be less than 2 characters</span>

              <span class="text-danger" *ngIf="newSupplierForm.get('supplierName').invalid && newSupplierForm.get('supplierName').errors.maxlength && (newSupplierForm.get('supplierName').touched || newSupplierForm.get('supplierName').dirty || newSupplierForm.submitted)">Supplier Name can't be more than 40 characters</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="supplierMobile" class="col-form-label col-md-4">Mobile:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Mobile" class="form-control" id="supplierMobile" formControlName="supplierMobile" [ngClass]="{
                     'is-valid': newSupplierForm.get('supplierMobile').valid && (newSupplierForm.get('supplierMobile').touched || newSupplierForm.submitted),
                     'is-invalid': newSupplierForm.get('supplierMobile').invalid && (newSupplierForm.get('supplierMobile').touched || newSupplierForm.submitted) }" />
              <small class="form-text text-muted">10 digit mobile number of the supplier | Can't be duplicate.</small>

              <span class="text-danger" *ngIf="newSupplierForm.get('supplierMobile').invalid && newSupplierForm.get('supplierMobile').errors.required && (newSupplierForm.get('supplierMobile').touched || newSupplierForm.get('supplierMobile').dirty || newSupplierForm.submitted)">Mobile number can't be blank</span>

              <span class="text-danger" *ngIf="newSupplierForm.get('supplierMobile').invalid && newSupplierForm.get('supplierMobile').errors.pattern && (newSupplierForm.get('supplierMobile').touched || newSupplierForm.get('supplierMobile').dirty || newSupplierForm.submitted)">Please enter 10 digit mobile number</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="email" class="col-form-label col-md-4">Email:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Email" class="form-control" id="email" formControlName="email" [ngClass]="{
                     'is-valid': newSupplierForm.get('email').valid && (newSupplierForm.get('email').touched || newSupplierForm.submitted),
                     'is-invalid': newSupplierForm.get('email').invalid && (newSupplierForm.get('email').touched || newSupplierForm.submitted) }" />
              <small class="form-text text-muted">Email address of the supplier | Can't be duplicate.</small>

              <span class="text-danger" *ngIf="newSupplierForm.get('email').invalid && newSupplierForm.get('email').errors.required && (newSupplierForm.get('email').touched || newSupplierForm.get('email').dirty || newSupplierForm.submitted)">Email can't be blank</span>

              <span class="text-danger" *ngIf="newSupplierForm.get('email').invalid && newSupplierForm.get('email').errors.email && (newSupplierForm.get('email').touched || newSupplierForm.get('email').dirty || newSupplierForm.submitted)">Email is invalid</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="password" class="col-form-label col-md-4">Password:</label>
            <div class="col-md-8">
              <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password" [ngClass]="{
                     'is-valid': newSupplierForm.get('password').valid && (newSupplierForm.get('password').touched || newSupplierForm.submitted),
                     'is-invalid': newSupplierForm.get('password').invalid && (newSupplierForm.get('password').touched || newSupplierForm.submitted) }" />
              <small class="form-text text-muted">At least one uppercase letter, one lowercase letter and one digit.</small>

              <span class="text-danger" *ngIf="newSupplierForm.get('password').invalid && newSupplierForm.get('password').errors.required && (newSupplierForm.get('password').touched || newSupplierForm.get('password').dirty || newSupplierForm.submitted)">Password can't be blank</span>

              <span class="text-danger" *ngIf="newSupplierForm.get('password').invalid && newSupplierForm.get('password').errors.pattern && (newSupplierForm.get('password').touched || newSupplierForm.get('password').dirty || newSupplierForm.submitted)">Password should contain should be between 6 to 15 characters long, with at least one uppercase letter, one lowercase letter and one digit</span>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnAddSupplierCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-success" (click)="onAddSupplierClick($event)" [disabled]="newSupplierDisabled">
            <span *ngIf="!newSupplierDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="newSupplierDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>



<!-- Edit Supplier Modal -->
<form [formGroup]="editSupplierForm">
  <div class="modal fade" id="editSupplierModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Update Supplier</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group form-row">
            <label for="supplierName" class="col-form-label col-md-4">Supplier Name:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Supplier Name" class="form-control" id="supplierName" formControlName="supplierName" [ngClass]="{
                     'is-valid': editSupplierForm.get('supplierName').valid && (editSupplierForm.get('supplierName').touched || editSupplierForm.submitted),
                     'is-invalid': editSupplierForm.get('supplierName').invalid && (editSupplierForm.get('supplierName').touched || editSupplierForm.submitted) }" />
              <small class="form-text text-muted">Name of the supplier | Can't be duplicate.</small>

              <span class="text-danger" *ngIf="editSupplierForm.get('supplierName').invalid && editSupplierForm.get('supplierName').errors.required && (editSupplierForm.get('supplierName').touched || editSupplierForm.get('supplierName').dirty || editSupplierForm.submitted)">Supplier Name can't be blank</span>

              <span class="text-danger" *ngIf="editSupplierForm.get('supplierName').invalid && editSupplierForm.get('supplierName').errors.minlength && (editSupplierForm.get('supplierName').touched || editSupplierForm.get('supplierName').dirty || editSupplierForm.submitted)">Supplier Name can't be less than 2 characters</span>

              <span class="text-danger" *ngIf="editSupplierForm.get('supplierName').invalid && editSupplierForm.get('supplierName').errors.maxlength && (editSupplierForm.get('supplierName').touched || editSupplierForm.get('supplierName').dirty || editSupplierForm.submitted)">Supplier Name can't be more than 40 characters</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="supplierMobile" class="col-form-label col-md-4">Mobile:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Mobile" class="form-control" id="supplierMobile" formControlName="supplierMobile" [ngClass]="{
                     'is-valid': editSupplierForm.get('supplierMobile').valid && (editSupplierForm.get('supplierMobile').touched || editSupplierForm.submitted),
                     'is-invalid': editSupplierForm.get('supplierMobile').invalid && (editSupplierForm.get('supplierMobile').touched || editSupplierForm.submitted) }" />
              <small class="form-text text-muted">10 digit mobile number of the supplier | Can't be duplicate.</small>

              <span class="text-danger" *ngIf="editSupplierForm.get('supplierMobile').invalid && editSupplierForm.get('supplierMobile').errors.required && (editSupplierForm.get('supplierMobile').touched || editSupplierForm.get('supplierMobile').dirty || editSupplierForm.submitted)">Mobile number can't be blank</span>

              <span class="text-danger" *ngIf="editSupplierForm.get('supplierMobile').invalid && editSupplierForm.get('supplierMobile').errors.pattern && (editSupplierForm.get('supplierMobile').touched || editSupplierForm.get('supplierMobile').dirty || editSupplierForm.submitted)">Please enter 10 digit mobile number</span>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="email" class="col-form-label col-md-4">Email:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Email" class="form-control" id="email" formControlName="email" [ngClass]="{
                     'is-valid': editSupplierForm.get('email').valid && (editSupplierForm.get('email').touched || editSupplierForm.submitted),
                     'is-invalid': editSupplierForm.get('email').invalid && (editSupplierForm.get('email').touched || editSupplierForm.submitted) }" />
              <small class="form-text text-muted">Email address of the supplier | Can't be duplicate.</small>

              <span class="text-danger" *ngIf="editSupplierForm.get('email').invalid && editSupplierForm.get('email').errors.required && (editSupplierForm.get('email').touched || editSupplierForm.get('email').dirty || editSupplierForm.submitted)">Email can't be blank</span>

              <span class="text-danger" *ngIf="editSupplierForm.get('email').invalid && editSupplierForm.get('email').errors.email && (editSupplierForm.get('email').touched || editSupplierForm.get('email').dirty || editSupplierForm.submitted)">Email is invalid</span>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnUpdateSupplierCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-success" (click)="onUpdateSupplierClick($event)" [disabled]="editSupplierDisabled">
            <span *ngIf="!editSupplierDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="editSupplierDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>




<!-- Delete Supplier Modal -->
<form [formGroup]="deleteSupplierForm">
  <div class="modal fade" id="deleteSupplierModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-info text-white">
          <h5 class="modal-title">Delete Supplier</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h5 class="mb-4">Are you sure to delete this Supplier?</h5>

          <div class="form-group form-row">
            <label for="supplierName" class="col-form-label col-md-4">Supplier Name:</label>
            <div class="col-md-8">
              <input type="text" placeholder="Supplier Name" readonly="readonly" class="form-control-plaintext" id="supplierName" formControlName="supplierName" />
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnDeleteSupplierCancel">
            <i class="fa fa-times-circle"></i> Cancel
          </button>
          <button type="submit" class="btn btn-danger" (click)="onDeleteSupplierConfirmClick($event)" [disabled]="deleteSupplierDisabled">
            <span *ngIf="!deleteSupplierDisabled"><i class="fa fa-save"></i> Delete</span>
            <span *ngIf="deleteSupplierDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Deleting</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>


