<div class="jumbotron">
  <h1>About Inventory Management System</h1>
  <p>Drink & Delight (DD) is India’s first listed pure-play beverage Company and one of the leading fruit juice manufacturers. DD’s spectacular growth is matched only by their enthusiasm to serve the customers in the chosen markets and segments. They are a proud partner of India’s growth story. Rooted deeply in the Indian ethos, they value Indian culture and values to the core. DD’s endeavor has been to work with local partners and farmers to grow and benefit along with them in this journey of value co-creation.</p>
</div>

<div class="row mb-3">
  <div class="col-lg-6">
    <h3>Product Categories</h3>

    <ul class="list-group">
      <li class="list-group-item">
        <h4>Juice</h4>
        <ul>
          <li>This is the second largest contributor ( ~ 35%)  to DD’s top line</li>
          <li>Gross profit % is ~36% – 37%  and is much lower than the overall average of 40% - 41%</li>
        </ul>
      </li>

      <li class="list-group-item">
        <h4>Soft Drinks</h4>
        <ul>
          <li>Contributes to ~ 15% of the overall revenue</li>
          <li>Gross profit is around 18% - 20% higher than the overall average</li>
        </ul>
      </li>

      <li class="list-group-item">
        <h4>Energy Drinks</h4>
        <ul>
          <li>Since its launch in 2011, this has been doing well and contributes to around 10% - 12 % of the top line with Gross profit % at the same level as the overall average</li>
        </ul>
      </li>

      <li class="list-group-item">
        <h4>Mocktails</h4>
        <ul>
          <li>o	This is the most profitable category. Gross profit is around 50% higher than the overall average</li>
        </ul>
      </li>

      <li class="list-group-item">
        <h4>Tonic Water</h4>
        <ul>
          <li>Revenue share is 40+%</li>
          <li>Gross Profit is in the same range as the overall Gross profit of DD</li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="col-lg-6">
    <h3>Highlights</h3>
    <ul class="list-group">
      <li class="list-group-item">Since 2015, DD’s revenue has been increasing at a rapid rate of > 26% per year on year.</li>
      <li class="list-group-item">The total revenue of this year is Rs 984.95 cr  whereas in the last fiscal year 2016-17 the revenue was Rs 735.02 cr.</li>
      <li class="list-group-item">The growth in revenue came from the company’s expanded capacity and new distribution channels across rural, semi-urban and urban centers.</li>
      <li class="list-group-item">The company declared dividend of 5% on expanded equity.</li>
    </ul>
  </div>
</div>
