<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-6">
    <h3>Users</h3>
    <ul class="list-group">
      <li class="list-group-item">System Users <span class="badge badge-secondary float-right">3</span></li>
      <li class="list-group-item">Suppliers <span class="badge badge-secondary float-right">17</span></li>
      <li class="list-group-item">Distributors <span class="badge badge-secondary float-right">28</span></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Masters</h3>
    <ul class="list-group">
      <li class="list-group-item">Raw Materials <span class="badge badge-secondary float-right">1400</span></li>
      <li class="list-group-item">Products <span class="badge badge-secondary float-right">5100</span></li>
      <li class="list-group-item">Payments <span class="badge badge-secondary float-right">16</span></li>
    </ul>
  </div>
</div>
