<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <!-- Specifying the absolute Path (.mdf file Directory)-->
    <add name="phoneBookConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\Guest.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>

    <!-- Specifying the Directory where the EXE Resides (Deployment) -->
    <!--
    <add name="phoneBookConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Karthik\Desktop\GuestPhoneBook\IGate.GuestPhoneBook.PresentationLayer\DataBase\Guest.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    -->
  </connectionStrings>
</configuration>
