<div class="row">
  <div class="col-lg-2">
    <h5 class="mt-1">
      Suppliers <span class="badge badge-secondary float-right" *ngIf="suppliers.length> 0">{{suppliers.length}}</span>
    </h5>
  </div>

  <div class="col-lg-10">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Supplier Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Created on</th>
          <th>Last Modified on</th>
          <th class="text-secondary">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers; let i = index">
          <td>{{i+1}}</td>
          <td>{{supplier.supplierName}}</td>
          <td>{{supplier.supplierMobile}}</td>
          <td>{{supplier.email}}</td>
          <td>{{supplier.creationDateTime}}</td>
          <td>{{supplier.lastModifiedDateTime}}</td>
          <td>
            <button class="btn btn-secondary" data-toggle="modal" data-target="#EditSupplierModal" (click)="onEditClick(i)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<form [formGroup]="editSupplierForm">
  <div class="modal fade" tabindex="-1" role="dialog" id="EditSupplierModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary text-white">
          <h5 class="modal-title">Edit Supplier</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group form-row">
            <label for="supplierName" class="col-md-3 col-form-label">Supplier Name:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="supplierName" id="supplierName" placeholder="Supplier Name" [ngClass]="{
                     'is-valid': editSupplierForm.get('supplierName').valid && (editSupplierForm.get('supplierName').touched || editSupplierForm.submitted),

                     'is-invalid': editSupplierForm.get('supplierName').invalid && (editSupplierForm.get('supplierName').touched || editSupplierForm.submitted) }" />
            </div>
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnUpdateSupplierCancel">Cancel</button>

          <button type="submit" class="btn btn-success" (click)="onUpdateSupplierClick()" [disabled]="editSupplierButtonDisabled">
            <span *ngIf="!editSupplierButtonDisabled"><i class="fa fa-save"></i> Save</span>
            <span *ngIf="editSupplierButtonDisabled"><i class="fa fa-circle-o-notch  fa-spin"></i> Saving</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

